<div class="footer-container">
    <div class="d-flex justify-content-between left-elements">
        <img src="../../assets/logo.svg" alt="">
        <div class="d-flex">
            <div *ngFor='let media of mediaIcons' class="social-media-icons">
                <img class="" src="../../assets/icon-{{media}}.svg" alt="{{media}} icon">
                <div class="clicable-link"></div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between right-elements">
        <app-menu-items></app-menu-items>
        <span class="font-regular-body">© 2021 Loopstudios. All rights reserved.</span>
    </div>

</div>