<div class="history-page-container">
    <img src="../../assets/image-interactive.jpg" alt="">
    <div class="history-content">
        <h2 class="font-title-regular">The leader in interactive VR </h2>
        <span class="font-regular-body"> Founded in 2011, Loopstudios has been
            producing world-class virtual reality projects
            for some of the best companies around the globe.
            Our award-winning creations have transformed
            bussiness through digital experiences that bind
            to their band. </span>
    </div>
</div>