@import '../../styles.scss';

.menu-container {
    color: $color-white;
    margin-right: 2rem;
    cursor: pointer;
    text-decoration: none;

    a {
        color: $color-white;
        margin-right: 2rem;
        cursor: pointer;
        position: relative;
        text-decoration: none;
    }
}